/*nav*/

span.hurj {
    float: right;
    margin-top: 5px;
    padding-left: 250px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.d-inline-block align-top {
    float:left;
    display:block;
    
}
.navbar img {
    margin-top: 10px;
}
.bs {
    display:block;
    float:right;
    margin-top:5px;
    margin-left:15px;
    overflow:hidden;
    font-family: 'Times New Roman', Times, serif;
}
.brainstem {
    display:flex;
    
}
.scientific {
    color:rgba(20, 100, 220, 0.784);
    
    display:flex;
    
}
.nav-item {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

ul.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: rgb(16 15 15 / 97%);
    --bs-nav-link-hover-color: #78a7edbd;
    --bs-nav-link-disabled-color: rgb(222, 210, 210);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
a.navbar-brand.mb-0.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--bs-heading-color);
}

.navbar-nav .dropdown-menu {
    position: static;
}

/*editorial team*/
.et {
    background-color: #f2f2f2;
    margin: 0 auto;
    padding: 50px 20px;
    width: 1200px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
.et-intro {
    padding-top: 30px;
}
.et-intro p {
    font-size: 20px;
}
.et-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.et h1 {
    font-size: 30px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


.et-title h1::after {
    content:"";
    position: absolute;
    width:100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}

.et .container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 70px;
    
}
.rt-content {
    max-width: 500px;
    
}
.et-content {
    max-width: 400px;
}
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 750px;
}
.et-image {
    margin-left: 60px;
    margin-right: 30px;
    margin-bottom: 20px;
    overflow: hidden;
}
.et-image img {
    width: 270px;
    height: 300px;
    height: auto;
    display: block;
    border-radius: 50%;
}
.rt-section {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    /* max-width: 750px; */
}

/*窗口缩放，大的放上面要不小的会被覆盖*/
@media screen and (max-width: 1430px){
    /*style for brower less than 1400px*/
    
    .hurj {
        display: none;
    }
    .as{
        padding: 0px 20px;
    }
    .as h1, .rfa h1{
        font-size: 36px;
    }
    .as p {
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container {
        padding: 0px;
    }
    .about {
        padding: 20px;
        flex-direction: column;
    }
    .about-image {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    
}
@media screen and (max-width: 1200px) {
    .wrapper {
        width: 1200px;
    }
    .banner .na {
        font-size: 35px;
    }
    .banner .banner-words {
        font-size: 25px;
    }
    .banner-content {
        padding-left: 30px;
    } 
}
@media screen and (max-width: 1024px) {
    
    .wrapper {
        width: 1024px;
    }
    .banner .na {
        font-size: 35px;
    }
    .banner .banner-words {
        font-size: 25px;
    }
    .banner-content {
        padding-left: 30px;
    }
    .footer {
        padding-left: 50px;
    }
    .nav .container {
        width: 1024px;
    }
}
@media screen and (min-width: 1024px) {
    .rt-content {
        margin-left: 40px;
    }
}
@media screen and (max-width: 991px) {
    .pzy img {
        margin-right: 100px;
    }
}
@media screen and (max-width: 912px) {
    .ma {
        display: none;
    }
    .wrapper {
        width: 912px;
    }
    .banner .na {
        font-size: 35px;
    }
    .banner .banner-words {
        font-size: 25px;
    }
    .banner-content {
        padding-left: 30px;
    }
    .footer {
        padding-left: 50px;
    }
    .nav .container {
        width: 912px;
    }
}
@media screen and (max-width: 900px) {
    .ma {
        display: none;
    }
    .wrapper {
        width: 900px;
    }
    .banner .na {
        font-size: 35px;
    }
    .banner .banner-words {
        font-size: 25px;
    }
    .banner-content {
        padding-left: 30px;
    }
    .footer {
        padding-left: 50px;
    }
    
}
@media screen and (max-width: 820px) {
    .ma {
        display: none;
    }
    .wrapper {
        width: 820px;
    }
    .banner .na {
        font-size: 35px;
    }
    .banner .banner-words {
        font-size: 25px;
    }
    .banner-content {
        padding-left: 30px;
    }
    .footer {
        padding-left: 50px;
    }
    .nav .container {
        width: 820px;
    }
}
@media screen and (max-width: 768px) {
    .ma {
        display: none;
    }
    .wrapper {
        width: 768px;
    }
    .banner .na {
        font-size: 35px;
    }
    .banner .banner-words {
        font-size: 25px;
    }
    .banner-content {
        padding-left: 30px;
    }
    .footer {
        padding-left: 50px;
    }
    .nav .container {
        width: 768px;
    }
}
@media screen and (max-width: 750px) {
    .wrapper {
        width: 700px;
    } 
    .banner .na {
        font-size: 30px;
    }
    .banner .banner-words {
        font-size: 20px;
    }
    .banner-content {
        padding-left: 30px;
    }  
    .footer {
        padding-left: 50px;
    }
}
@media screen and (max-width: 540px) {
    .wrapper {
        width: 540px;
    }
    .banner .na {
        font-size: 30px;
    }
    .banner .banner-words {
        font-size: 20px;
    }
    .banner-content {
        padding-left: 30px;
    }
    .footer {
        padding-left: 45px;
    }
    .nav .container {
        width: 540px;
    }
  
}
@media screen and (max-width: 500px) {
    .wrapper {
        width: 500px;
    }
    .banner .na {
        font-size: 30px;
    }
    .banner .banner-words {
        font-size: 20px;
    }
    .banner-content {
        padding-left: 30px;
    }
    .footer {
        padding-left: 45px;
    }
  
}
@media screen and (max-width: 414px) {
    .wrapper {
        width: 414px;
    }
    .banner .na {
        font-size: 30px;
    }
    .banner .banner-words {
        font-size: 20px;
    }
    .banner-content {
        padding-left: 30px;
    }
    .footer {
        padding-left: 45px;
    }
    .nav .container {
        width: 414px;
    }
    .et-image img {
        width: 200px;
        height: 200px;
        height: auto;
        display: block;
        border-radius: 50%;
    }
  
}
@media screen and (max-width: 412px) {
    .wrapper {
        width: 412px;
    }
    .banner .na {
        font-size: 30px;
    }
    .banner .banner-words {
        font-size: 20px;
    }
    .banner-content {
        padding-left: 30px;
    }
    .footer {
        padding-left: 45px;
    }
    .nav .container {
        width: 412px;
    }
    .et-image img {
        width: 200px;
        height: 200px;
        height: auto;
        display: block;
        border-radius: 50%;
    }
  
}
@media screen and (max-width: 393px) {
    .wrapper {
        width: 393px;
    }
    .banner .na {
        font-size: 30px;
    }
    .banner .banner-words {
        font-size: 20px;
    }
    .banner-content {
        padding-left: 30px;
    }
    .footer {
        padding-left: 45px;
    }
    .nav .container {
        width: 393px;
    }
    .et-image img {
        width: 200px;
        height: 200px;
        height: auto;
        display: block;
        border-radius: 50%;
    }
  
}
@media screen and (max-width: 390px) {
    .wrapper {
        width: 390px;
    }
    .banner .na {
        font-size: 30px;
    }
    .banner .banner-words {
        font-size: 20px;
    }
    .banner-content {
        padding-left: 30px;
    }
    .footer {
        padding-left: 45px;
    }
    .nav .container {
        width: 390px;
    }
    .et-image img {
        width: 200px;
        height: 200px;
        height: auto;
        display: block;
        border-radius: 50%;
    }
  
}
@media screen and (max-width: 375px) {
    .wrapper {
        width: 375px;
    }
    .banner .na {
        font-size: 30px;
    }
    .banner .banner-words {
        font-size: 20px;
    }
    .banner-content {
        padding-left: 30px;
    }
    .footer {
        padding-left: 45px;
    }
    .nav .container {
        width: 375px;
    }
    .et-image img {
        width: 180px;
        height: 180px;
        height: auto;
        display: block;
        border-radius: 50%;
    }
  
}
@media screen and (max-width: 360px) {
    .wrapper {
        width: 360px;
    }
    .banner .na {
        font-size: 30px;
    }
    .banner .banner-words {
        font-size: 20px;
    }
    .banner-content {
        padding-left: 30px;
    }
    .footer {
        padding-left: 45px;
    }
    .nav .container {
        width: 360px;
    }
    .et-image img {
        width: 170px;
        height: 170px;
        height: auto;
        display: block;
        border-radius: 50%;
    }
  
}
@media screen and (max-width: 280px) {
    .wrapper {
        width: 280px;
    }
    .banner .na {
        font-size: 30px;
    }
    .banner .banner-words {
        font-size: 20px;
    }
    .banner-content {
        padding-left: 30px;
    }
    .footer {
        padding-left: 45px;
    }
    .nav .container {
        width: 280px;
    }
    .et-image img {
        width: 100px;
        height: 100px;
        height: auto;
        display: block;
        border-radius: 50%;
    }
}





